
/* Importing a google font known as Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Applying Montserrat to the entire body of the webpage */
body {
    font-family: 'font-name', montserrat;
}

/* Styling h1 element with a colour and a size */
h1 {
    color: rgb(20, 0, 67);
    font-size: 24px;
}

/* Adding a background colour to our website body */
body {
    background-color: lightgray;
}

/* Giving our website a photo */
#alloyphoto {

    max-width: 300px;
    border-radius: 10px;
}
